<div class="wrapper">
  <div class="container">
    <div class="logo">
      <img src="{{scholasticLogo}}">
    </div>
    <h5>ECP Search Component</h5>
    <div class="ecp-search-input">
      <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" id="ecpSearch">
    </div>
    <div class="row">
      <div class="col-md-4" *ngFor="let results of ecpResults | EcpSearchFilter: query">
        <section class="user" id="user-{{results.id}}">
          <h6>Name: {{results.name}}</h6>
          <p>Email: {{results.email}}</p>
          <p>Website: {{results.website}}</p>
        </section>
      </div>
    </div>
  </div>
</div>